body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: orange;
}

.quadro-lista-tarefas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1335px;
}

.quadro-tarefas {
  width: 930px;
  height: 450px;
}

.quadro-tarefas-digitar {
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: DarkOrange	;
}

#texto-tarefa {
  align-items: center;
  width: 800px;
  height: 30px;
}

.quadro {
  background-color: LightSeaGreen;
  border-radius: 5px solid;
  color: white;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.quadro-listas {
  background-color: Khaki;
  min-height: 350px;
  max-height: 350px;
}

#funcionamento {
  width: 400px;
  margin: 0;
}

#lista-tarefas {
  width: 860px;
}

.quadro-tarefas-salvas {
  height: 480px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.nav-tarefas-salvas {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 50px;
}

.quadro-tarefas-listas {
  background-color: PaleGreen;
  min-height: 350px;
  max-height: 350px;
}

#background {
  background-color: Chocolate;
}

#semBackground {
  background-color: Khaki;
}

.completed {
  text-decoration: line-through solid black;
}

button {
  background-color: goldenrod;
  height: 30px;
}
