#background {
  background-color: gray;
}

#semBackground {
  background-color: white;
}

.completed {
  text-decoration: line-through solid black;
}

header {
  padding: 20px;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: orange;
}

.quadro {
  background-color: #363636;
  border-radius: 5px solid;
  padding: 5px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#funcionamento {
  width: 400px;
  margin: 0;
}

#texto-tarefa {
  align-items: center;
  width: 1000px;
  height: 30px;
}

#lista-tarefas {
  background-color: white;
}

/* .button {
  padding: 5px;
  background-color: #4f4f4f;
  display: flex;
  justify-content: space-around;
  width: 40%;
} */

button {
  background-color: goldenrod;
  height: 30px;
}

